{% extends 'reservations/homeHeader.html' %}
{% load static %}

{% block body %} 
      <!--Main layout-->
      <main class="mt-5">
        <div class="container">
          <!--Section: Content-->
          <section>
            <div class="row">
              <div class="col-md-6 gx-5 mb-4">
                <div class="bg-image hover-overlay ripple shadow-2-strong" data-mdb-ripple-color="light">
                  <img src="{% static 'reservations/home5.jpg' %}" class="img-fluid" />
                  <a href="{% url 'contact' %}">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
              </div>
  
              <div class="col-md-6 gx-5 mb-4">
                <h4><strong>EXPERIENCE THE HOTEL</strong></h4>
                <p class="text-muted">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod itaque voluptate
                  nesciunt laborum incidunt. Officia, quam consectetur. Earum eligendi aliquam illum
                  alias, unde optio accusantium soluta, iusto molestiae adipisci et?
                </p>
                <p><strong>Interested in more?</strong></p>
                <p class="text-muted">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod itaque voluptate
                  nesciunt laborum incidunt. Officia, quam consectetur. Earum eligendi aliquam illum
                  alias, unde optio accusantium soluta, iusto molestiae adipisci et?
                </p>
              </div>
            </div>
          </section>
          <!--Section: Content-->
  
          <hr class="my-5" />
  
          <!--Section: Content-->
          <section class="text-center">
            <h4 class="mb-5"><strong>Popular Rooms</strong></h4>
  
            <div class="row">
              <div class="col-lg-4 col-md-12 mb-4">
                <div class="card h-100">
                  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img
                      src="{% if room1.pictured_room.first %} {{ room1.pictured_room.first.picture.url }} {% else %} {% static 'reservations/placeholderRoom.jpg' %} {% endif %}"
                      class="img-fluid"
                    />
                    <a href="{% url 'room' id=room1.id %}">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">{{ room1.type.type }} Room</h4>
                    <p class="card-text">
                      The perfect summer getaway that will stay with you forever
                    </p>
                  </div>
                  <a href="{% url 'room' id=room1.id %}" class="btn btn-outline-primary homepage-card-button">Book this room</a>
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img
                      src="{% if room2.pictured_room.first %} {{ room2.pictured_room.first.picture.url }} {% else %} {% static 'reservations/placeholderRoom.jpg' %} {% endif %}"
                      class="img-fluid"
                    />
                    <a href="{% url 'room' id=room2.id %}">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">{{ room2.type.type }} Room</h4>
                    <p class="card-text">
                      Each space has it's own style. Hand crafted to appeal to you
                    </p>
                  </div>
                  <a href="{% url 'room' id=room2.id %}" class="btn btn-outline-primary homepage-card-button">Book this room</a>
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img
                      src="{% if room3.pictured_room.first %} {{ room3.pictured_room.first.picture.url }} {% else %} {% static 'reservations/placeholderRoom.jpg' %} {% endif %}"
                      class="img-fluid"
                    />
                    <a href="{% url 'room' id=room3.id %}">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">{{ room3.type.type }} Room</h4>
                    <p class="card-text">
                      Sublime moments spent in front of the sea
                    </p>
                  </div>
                  <a href="{% url 'room' id=room3.id %}" class="btn btn-outline-primary homepage-card-button">Book this room</a>
                </div>
              </div>
            </div>
          </section>
          <!--Section: Content-->
  
          <hr class="my-5" />
  
          <!--Section: Content-->
          <section class="mb-5">
            <div class="bg-image homepage-bg-img">
              <div class="mask carousel-mask">
                <div class="d-flex justify-content-center align-items-center h-50">
                  <div class="text-center">
                    <h1 class="mb-3 text-white">Example Header</h1>
                    <p class="mb-3 text-white"> A paragraph example bellow the header! </p>
                  </div>
                </div>
                <div class="d-flex justify-content-center">
                  <a
                    class="btn btn-primary btn-lg m-2"
                    href="booking/"
                    role="button"
                    target="_blank"
                    >Book Now
                  </a>
                </div>
              </div>
            </div>
          </section>
          <!--Section: Content-->
        </div>
      </main>
      <!--Main layout-->
{% endblock %}