{% extends "reservations/header.html" %}
{% load static %}
{% block body %}
    {% if justBooked %}
        <script>
            function alertUser(msg) {
            alert(msg);
            }
        </script>
        <body onload="alertUser('You have succesfully booked room {{ room.number }}')">
        </body>
    {% endif %}

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            initDatepicker();
        });

        function initDatepicker(){
            var disabledDates = [];
            {% for date in reservedDates %}
                disabledDates.push("{{ date }}");
            {% endfor %}
            $('.datepicker').datepicker({
                minDate: 0,
                beforeShowDay: function(date){
                    var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
                    return [$.inArray(string, disabledDates) == -1];
                }
            })
        }
    </script>

    <section class="mb-5 mt-4">
        <div class="container">
            <div class="row">
                <div class="d-flex justify-content-center">
                    <h3><strong>{{ room.type.type }} Room {{ room.number }}</strong></h3>
                </div>
                <div class="d-flex justify-content-center mb-2">
                    <ul class="card-text list-inline">
                        <li class="list-inline-item pe-3 border-end">Facing {{ room.get_cardinalLocation_display }}</li>
                        <li class="list-inline-item pe-3 border-end">On floor {{ room.floor }}</li>
                        <li class="list-inline-item">Currently {{ room.get_status_display }}</li>
                    </ul>
                </div>
            </div>
            <div class="row row-cols-3 justify-content-center">
                {% if room.pictured_room.first %}
                    {% for picture in room.pictured_room.all %}
                        <div class="bg-image mb-3">
                            <img src="{{ picture.picture.url }}" class="img-fluid rounded" />
                        </div>
                    {% endfor %}        
                {% else %}
                    <div class="bg-image mb-3">
                            <img src="{% static 'reservations/placeholderRoom.jpg' %}" class="img-fluid rounded"/>   
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="d-flex justify-content-center">
                <form method="POST" action="{% url 'room' id=room.id %}">
                    {{ guestForm.as_p }}
                    {{ bookingForm.as_p }}
                    {% csrf_token %}
                    <input type="hidden">
                    <button type="submit" class="btn btn-primary mb-2">Book This Room</button>        
                </form>
            </div>
        </div>
    </section>
{% endblock %}