#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
    height: 100vh;
}

.carousel-item:nth-child(1) {
    background-image: url('home1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.carousel-item:nth-child(2) {
    background-image: url('home2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.carousel-item:nth-child(3) {
    background-image: url('home3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.carousel-mask{
    background-color: rgba(0, 0, 0, 0.4);
}

.homepage-bg-img {
    background-image: url('home4.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 60vh;
}

.team-bg-img {
    background-image: url('contactTeam.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 70vh;
}

.placeholder-bg-img {
    background-image: url('placeholderRoom.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 60vh;
}

.carousel-item-room {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
    #introCarousel {
        margin-top: -58.59px;
    }
    #introCarousel,
    .carousel-inner,
    .carousel-item,
    .carousel-item.active {
        height: 50vh;
    }
}

.navbar .nav-link {
    color: #000;
}
.navbar .nav-item .nav-link{
    color: #000;
}

.homepage-card-button{
    width: fit-content;
    align-self: center;
    margin-bottom: 20px;
}

body{ 
    height:100vh; 
    margin:0; 
    display:flex; 
    flex-direction:column; 
}
  
footer{
    margin-top:auto; 
}

.bg-footer {
    background-color: #ECEFF1;
}